body { 
    background-image: url(199388.jpg);
    background-attachment: fixed;
}
#T1 {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#L1 {
    color: crimson;
    text-align: center;
    font-size: 200%;
}
#L2 {
    color: darkturquoise;
    text-align: center;
    font-style: italic;
    font-size: 150%;
}
#COL1 {
    background-color: rgb(190, 15, 15);
    height: 70px;
    width: 20%;
    box-shadow: 12px 11px 0px black;
}