body { 
    background-image: url(fond-code-binaire-technologie-abstraite_34629-592.jpg);
    background-attachment: fixed;
}
#T1 {
    color: fuchsia;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
#L1 {
    color: fuchsia;
    text-align: center;
    text-decoration: underline;
    font-size: 200%;
    background-color: black;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
#L2 {
    color: rgb(255, 255, 255);
    text-align: justify;
    font-weight: bold;
    text-decoration: underline;
    font-size: 150%;
}
#COL1 {
    background-color: rgb(65, 0, 0);
    height: 50px;
    width: 15%;
    box-shadow: 12px 11px 15px black;
    margin-left: auto;
    margin-right: auto;
}
#BOX1 {
    color: gold;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-weight: bold;
    font-size: 100%;
}
#L3 {
    color: white;
    font-size: 150%;
    padding-top: 30px;
    width: 25%;
    float: left;
}
#L4 {
    color: white;
    font-size: 150%;
    padding-top: 50px;
    width: 25%;
    float: left;
}
#L5 {
    color: white;
    font-size: 150%;
    padding-top: 70px;
    width: 25%;
    float: left;
}
#L6 {
    color: white;
    font-size: 150%;
    padding-top: 90px;
    width: 25%;
    float: left;
}
#COL2 {
    background-color: rgb(65, 0, 0);
    height: auto;
    width: auto;
    box-shadow: 12px 11px 15px black;
    margin: auto;
}
#BOX2 {
    color: gold;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-weight: bold;
    font-size: 100%;
}